header{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    background-color: transparent;
    height: 70px;
    display:flex;
    align-items: center;
    z-index: 999999;
    transition: all .5s;
}
header.sticky{
    top:15px;
    left:20px;
    border-radius: 20px;
    width: calc(100% - 40px);
    margin: 0 auto;
    position: fixed;
    background-color: #dde3eecc;
    transition: all .25s;
}
body.dark header.sticky{
    background-color: var(--box-bg);
    opacity: .9;
}
.logo{
    width: 40px;
    height: 40px;
}
.logo svg{
    fill: var(--main-color);
}
.navbar{
    position: relative;
    width: 100%;
    display:flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}
.links{
    margin-top: -13px;
}
.link-list,
.link-list ul,
.mode-btn{
    position: relative;
    display: inline-block;
    padding: 0;
    margin: 0;
}
.link-list ul li{
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: inline-block;
}
.link-list ul li a,
.link-list ul li a:hover{
    position: relative;
    color: var(--text-color);
    text-decoration: none;
    padding: 8px 4px;
    margin: 0 5px;
    font-size: 1rem;
}
.link-list ul li a::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 10px;
    width: 0;
    height: 8px;
    opacity: .5;
    z-index: -1;
    background-color: var(--main-color);
    transition: width .25s;
    border-radius: 2px;
}
.link-list ul li a.active::before,
.link-list ul li a:hover::before{
    width: 100%;
}
.side-title,
.side-icon{
    display: none;
}
.color-select{
    position: relative;
    display: inline-block;
    margin: 0 8px;
}
.color-select-label,
.mode-btn{
    position: relative;
    cursor: pointer;
    font-size: .9rem;
    padding: 8px 12px;
    background: var(--box-bg);
    box-shadow: var(--box-shadow-5);
    border-radius: 8px;
    color: var(--text-color);
    transition: all .25s;
    text-decoration: none;
}
.color-select-label:hover{
    color: var(--text-color)
}
body.dark .color-select-label,
body.dark .mode-btn{
    background: var(--light-bg);
}
.selected-color{
    position: relative;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 5px;
    display: inline-block;
    background-color: var(--main-color);
}
.color-picker{
    position: absolute;
    width: 100%;
    background-color: var(--box-bg);
    box-shadow: var(--box-shadow-5);
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding: 8px 12px;
    border-radius: 8px;
    margin-top: 5px;
    gap:8px 5px;
    opacity: 0;
    pointer-events: none;
    transform: scale(.5);
    transition: all .25s;
    z-index: 9999;
}
.color-picker.show{
    opacity: 1;
    pointer-events: visible;
    transform: scale(1);
}
.color-label{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
    background: #f5f5f5;
    color: transparent;
    display: grid;
    place-items: center;
    font-size: .7rem;
    z-index: 9;
}
.mode-btn{
    top: 13px;
    overflow: hidden;
}
.light-icon{
    position: relative;
    top: -40px;
    transition: all .25s;
}
.dark-icon{
    position: absolute;
    top: 8px;
    transition: all .25s;
}
.mode-btn.dark .light-icon{
    position: absolute;
    top: 8px;
}
.mode-btn.dark .dark-icon{
    position: relative;
    top: 40px;
}
.dark-icon span,
.light-icon span{
    display: none;
}
.flag{
    position: relative;
    display: inline-block;
    width: 18px;
    top: -1px;
    margin-right: 5px;
}
.flag img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.mobile-menu-btn,
.mobile-menu-close-area{
    display: none;
}
@media screen and (max-width:1200px) {
    body.dark header.sticky{
        opacity: 1;
    }
    .links{
        position: fixed;
        width: 270px;
        left:-295px;
        top: 30px;     
        display: flex;
        flex-direction: column;                            
        height: calc(100vh - 40px);
        border-radius: 20px;
        z-index: 9999;
        background-color: var(--body-bg);
        box-shadow: var(--box-shadow-5);
        overflow-x: auto;
        padding-bottom: 15px;
        transition: all .25s;
    }
    .links.open{
        left: 15px;
    }
    .links::-webkit-scrollbar {
        width:5px;
        height: 4px;
        opacity: 0;
    }
    .links::-webkit-scrollbar-track {
        border-radius: 5px;
        display: none;
    }
    .links::-webkit-scrollbar-thumb {
        background: var(--light-bg);
        border-radius: 5px;
        display: none;
    }
    .link-list ul{
        margin: 0;
        padding: 0;
        display: block;
    }
    .link-list ul li{
        display: inline-block;
        width: 100%;
    }
    .link-list ul li a,
    .link-list ul li a:hover{
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 5px 10px 5px 25px;
        margin: 5px 0;
        width: 100%;
        color: var(--second-light-text-color);
        font-size: .85rem;
        transition: all .3s linear;
    }
    .link-list ul li a.active::before,
    .link-list ul li a.hover::before,
    .link-list ul li a::before{
        display: none;
    }
    .link-list ul li a.active:after{
        content: "";
        position: absolute;
        left:0;
        top: 10%;
        width: 4px;
        height: 80%;
        border-radius: 10px;
        background-color: var(--main-color);
        transition: all .3s linear;
    }
    .side-icon{
        position: relative;
        display: grid;
        place-items: center;
        width: 40px;
        height: 40px;
        border-radius: 8px;
        background: var(--light-bg);
        margin-right: 10px;
        font-size: 1rem;
        transition: all .25s linear;
    }
    .link-list ul li a:hover .side-icon,
    .link-list ul li a.active .side-icon{
        background: var(--main-color);
        color: var(--white)
    }
    .side-icon i{
        position: relative;
        display: block;
        margin: auto;
    }
    .side-title{
        display: block;
        margin: 20px 0 20px 0;
        padding-left: 25px;
        font-size: .7rem;
        text-transform: uppercase;
        color: var(--main-color);
        letter-spacing: 3px;
    }
    .color-select-label{
        margin-left: 20px;
        display: block;
    }
    .color-picker{
        position: relative;
        margin-left: 20px;
        height: 0;
        padding: 0;
        width: calc(100% - 20px);
    }
    .color-picker.show{
        height: 65px;
        padding: 8px 12px;
    }
    .mode-btn{
        margin-left: 20px;
        display: block;
        top: 0;
    }
    .dark-icon span,
    .light-icon span{
        display: inline-block;
        padding-left: 5px;
    }
    .mobile-menu-btn{
        display: block;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 2px;
        color: var(--main-color);
        font-size: .9rem;
        cursor: pointer;
        padding: 5px 10px;
    }
    .mobile-menu-close-area.show{
        display: block;
    }
    .mobile-menu-close-area{
        z-index: 999;
        position: fixed;
        width: 100%;
        height: 100vh;
        left:0;
        top: 0;
        background-color: rgba(0, 0, 0, 0.150);
        transition: all .25s;
    }
    
}
