@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Josefin+Sans:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600;700;800;900&family=Source+Code+Pro:wght@300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --comfortaa: 'Comfortaa', cursive;
    --josefin: 'Josefin Sans', sans-serif;
    --poppins: 'Poppins', sans-serif;
    --source: 'Source Code Pro', monospace;

    --text-color: #000000de;
    --light-text-color: #BABEC4;
    --second-light-text-color: #6b6b6b;


    --body-bg:#fafcff;
    --box-bg: #fff;
    --light-bg: #0000000f;
    --second-light-bg: #e5e9ee;
    --white: #fff;
    --black: #121212;

    --box-shadow-5: 0 0 1rem 0 rgba(153, 157, 169, 0.1);
}
body.dark{

    --text-color: #f6f2f2;
    --light-text-color: #b7b7b8;
    --second-light-text-color: #ececec;


    --body-bg:#111827;
    --box-bg: #172031;
    --light-bg: #202837;
    --second-light-bg: #ffffff1f;
    --white: #fff;
    --black: #121212;

    --box-shadow-5: 0 0 1rem 0 rgba(79, 81, 88, 0.1);
}
/*
@media (prefers-color-scheme: dark) {
    :root{
        --text-color: #f6f2f2;
        --light-text-color: #b7b7b8;
        --second-light-text-color: #ececec;
    
    
        --body-bg:#111827;
        --box-bg: #172031;
        --light-bg: #202837;
        --second-light-bg: #ffffff1f;
        --white: #fff;
        --black: #121212;
    
        --box-shadow-5: 0 0 1rem 0 rgba(79, 81, 88, 0.1);
    }
}
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--poppins);
}
::-webkit-scrollbar {
    width:5px;
    height: 4px;
}
::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: var(--body-bg);
}
::-webkit-scrollbar-thumb {
    background: var(--main-color);
    border-radius: 10px;
}
html{
    scroll-behavior: smooth;
}
body{
    width: 100%;
    min-height: 100vh;
    background: var(--body-bg) !important;
    overflow-x: hidden;
    transition: all .25s;
}
section{
    padding: 70px 0 0 0;
}
.grid-section{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 50px;
}
.title-section{
    position: relative;
    width: 100%;
    margin: 25px 0;
}
.title-small{
    color: var(--main-color);
    font-size: .8rem;
    letter-spacing: 10px;
    text-transform: uppercase;
}
.title{
    color: var(--text-color);
    font-size: 2.25rem;
    font-weight: 600;
}
.content{
    position: relative;
    margin: 25px 0;
}
main{
    position: relative;
    display: grid;
    margin-top: 120px;
    grid-template-columns: repeat(auto-fit, minmax(400px,1fr));
}
.main-bg{
    position: relative;
    width: 100%;
    overflow: hidden;
    display: grid;
    place-items: center;
    height: auto;
}
.main-bg svg{
    width: 90%;
    object-fit: cover;
    animation: rotate-img 12s infinite linear;
}
#main-bg-img{
    fill:var(--main-color) !important;
}
@keyframes rotate-img {
    from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(359deg);
      }
}
.main-content{
    padding: 50px 0;
    width: 100%;
}
.main-content h1{
    font-weight: 600;
    font-size: 2.75rem;
    color: var(--text-color);
    min-height: 140px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.main-content h1 .typed{
    color: var(--main-color)
}
.main-content #hello{
    color: var(--main-color);
    font-size: 1.1rem;
    margin: 5px 0;
    letter-spacing: 3px;
}
.typed-cursor{
    display: none;
}
.main-content p{
    margin: 0 0 40px 0;
    color: var(--text-color);
    font-size: .9rem;
}
.cv-link{
    position: relative;
    display: inline-block;
    padding: 20px 40px;
    color: var(--text-color);
    border-radius: 12px;
    border: 2px solid var(--main-color);
    text-decoration: none;
    transition: all .5s;
    overflow: hidden;
    text-align: center;
}
.cv-link .cv-hover-text{
    position: absolute;
    left: 50%;
    top: -35%;
    transform: translate(-50%,-50%);
    transition: top .3s linear;
}
.cv-link .cv-hover-text span{
    display: block;
    height: 20px;
}
.cv-link .cv-hover-text .typed-cursor{
    display: none;
}
.cv-link .cv-hover-text i{
    position: relative;
    animation: iss-s 5s infinite linear;
}
.cv-link .cv-text{
    position: relative;
    transition: top .3s linear;
    top: 0;
}
.cv-link:hover .cv-text{
    top: 50px;
}
.cv-link:hover .cv-hover-text{
    top: 50%;
}
.cv-link:hover{
    color: var(--white);
    background-color: var(--main-color);
}
p.cv-exp{
    margin: 16px 0 0 0;
    font-size: .8rem;
    color: var(--light-text-color);
}
.blue{
    background: #e0eafc;
    color: #3f80ea;
}
.orange{
    background: #fcece0;
    color: #ff733c;
}
.green{
    background: #e0fce9;
    color: #4bbf73;
}
.red{
    background: #fce0e0;
    color: #ff3c3c;
}
.yellow{
    background: #f7f9d8;
    color: #f8de39;
}
.purple{
    background: #984bbf2d;
    color: #8d4bbf;
}
footer{
    text-align: center;
    padding: 30px 0;
}
.footer-links{
    position: relative;
    width: 100%;
    margin: 25px 0 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px 20px;
}
.footer-links a{
    position: relative;
    display: inline-block;
    padding: 8px 0 8px 16px;
    border-radius: 8px;
    background-color: var(--box-bg);
    font-size: .85rem;
    color: var(--text-color);
    box-shadow: var(--box-shadow-5);
    text-decoration: none;
    transition: all .3s;
}
.footer-links a i{
    padding-right: 5px;
}
.footer-links a span{
    position: relative;
    opacity: 0;
    left: -16px;
    color: var(--white);
    transition: all .3s;
}
.footer-links a:hover{
    background: var(--main-color);
    color: var(--white);
    transform: scale(1.05);
    padding-right: 16px;
}
.footer-links a:hover span{
    left: 0;
    opacity: 1;
    padding-left: 5px;
}
.footer-term{
    position: relative;
    margin: 25px 0;
    text-align: center;
    font-size: .9rem;
    color: var(--light-text-color)
}
@media screen and (max-width: 1200px) {
    main{
        margin-top: 75px;
    }
}
@media screen and (max-width: 900px) {
    main{
        margin-top: 50px;
    }
    .grid-section{
        grid-template-columns: repeat(1,1fr);
    }
}
@media screen and (max-width: 825px) {
    main{
        grid-template-columns: repeat(auto-fit, minmax(100%,1fr)) !important;
    }
}
@media screen and (max-width: 500px) {
    main{
        grid-template-columns: repeat(auto-fit, minmax(100%,1fr)) !important;
    }
}